.navbar {
  background-color: rgba(28, 16, 57, 0.62) !important;
  padding: 16px;
  font-family: 'evolventa', Arial, sans-serif;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.62); /* цвет обычного текста */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav-link{
  font-family: 'evolventa', Arial, sans-serif;
  font-size: 1.2em;
  color: red;
  margin-left: 30px;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: yellow; /* цвет ссылок в навбаре */
}
.navbar-expand-lg .navbar-nav .nav-link:hover{

  color: #fdfd00;
  border-radius: 5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  position: relative; /* Для позиционирования псевдоэлемента */
}

.navbar-expand-lg .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 80%;
  height: 2px;
  background-color: yellow; /* Цвет подчеркивания */
  transition: transform 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.nav-link:active {
  background-color: #9d2d2d;
  color: black;
  border-radius: 5px;

}

.code_block{
  font-family: 'evolventa', Arial, sans-serif;
  padding: 10px;
}
.code_block:hover{
  font-family: 'evolventa', Arial, sans-serif;
  padding: 20px;
}

.links{
  color: #9d2d2d;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;  /* Очень высокий z-index */
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  min-width: 400px;
  max-width: 500px;
  position: relative;
  z-index: 10000;
}
